%h2 Add an Itinerary

.inner-div
  = form_for([@itinerary], url: itineraries_path) do |f|
    - if @itinerary.errors.any?
      Your itinerary couldn't be saved because:
      %ul
        - @itinerary.errors.messages.each do |field, error|
          %li.errors-colors= "#{field.to_s.capitalize} #{error[0]}"

    .form-group.margin-bottom
      = f.label :name, "Itinerary Name"
      = f.text_field :name, class: "form-control"

    .form-group.margin-bottom
      %h4 Cities
      = f.collection_check_boxes :id, City.all, :id, :english_name do |checkbox|
        = checkbox.check_box
        = checkbox.label(class: 'padding-quarter-right')

    .form-group
      = f.submit "Save", class: "btn btn-default"

