.row.border-bottom.margin-bottom.padding-half-bottom
  .col-md-8
    %h2.no-spacing
      = @country.native_language_name 
      - if @country.english_name != @country.native_language_name
        %h4.italic.inline.no-spacing= "(english: #{@country.english_name})"
  .col-md-4
    = render partial: "global_partials/sub_header", locals: { country: @country, region: nil}

.row.margin-bottom.padding-half-bottom
  .col-md-4
    %h3= link_to "All Regions", country_regions_path(@country)
    %h3= link_to "All Cities", all_cities_country_path(@country)
  .col-md-8
    // doesn't work, not sure why, align: center gets crossed out
    .center.padding-bottom
      = image_tag "italy-regions.gif"
