
%h2.no-spacing
  = @country.native_language_name 
  - if @country.english_name != @country.native_language_name
    %h4.italic.inline.no-spacing= "(english: #{@country.english_name})"

- if @regions
  %h2 Regions 
  .inner-div
    - @regions.each do |region|
      .media.margin
        .media-left
          = image_tag "italy-thumbnail.png", class: "media-object"
        .media-body.padding-left
          %h4.media-heading
            = link_to region.native_language_name, region_path(region)
            - if region.english_name != region.native_language_name
              = "(#{region.english_name})"
          = region.description
