.row.border-bottom.padding-half-bottom
  .col-md-8
    %h2.no-spacing
      = @country.native_language_name 
      - if @country.english_name != @country.native_language_name
        %h4.italic.inline.no-spacing= "(english: #{@country.english_name})"
  .col-md-4
    = render partial: "global_partials/sub_header", locals: { country: @country }

.margin-top        
  = render partial: "countries/country_partials/#{@country_partial}"

.margin-top 
- if @country.united_states?
  %h3 States
- else
  %h3 
    = link_to "Regions", country_regions_path(@country)
%ul
- @regions.each do |region|
  %li 
    =link_to region.english_name, country_region_path(@country, region)

%h3.margin-top 
  = link_to "Cities", country_cities_path(@country)
%ul
- @cities.each do |city|
  %li 
    =link_to city.english_name, country_city_path(@country, city)
