%h2 Add a City

.inner-div
  = form_for(@city, url: country_cities_path(@country)) do |f|
    - if @city.errors.any?
      Your city couldn't be saved because:
      %ul
        - @city.errors.messages.each do |field, error|
          %li.errors-colors= "#{field.to_s.capitalize} #{error[0]}"

    .form-group
      = f.label :region_id, "Select a Region"
      = f.collection_select :region_id, Region.all, :id, :english_name

    .form-group
      = f.label :english_name, "Name in English"
      = f.text_field :english_name, class: "form-control"

    .form-group
      = f.label :native_language_name, "Name in Native Language"
      = f.text_field :native_language_name, class: "form-control" 

    .form-group
      = f.label :is_capital, "Is this the Region's capital?"
      = f.check_box :is_capital

    .form-group
      = f.label :description, "Description (400 words or fewer)"
      = f.text_area :description, class: "form-control"

    .form-group
      = f.label :city_website, "City Website (if any)"
      = f.text_field :city_website, class: "form-control"

    .form-group
      = f.submit "Save", class: "btn btn-default"
