.row.border-bottom.margin-bottom.padding-half-bottom
  .col-md-8
    %h2.no-spacing Destinations
  .col-md-4
    = render partial: "global_partials/sub_header", locals: { country: Country.where(english_name: "Italy").first, region: nil, city: nil, destination: nil}

- if @destinations.any?
  .row
    .col-md-2
      %p This is where the floating sidebar will go
      -# = render partial: "global_partials/sidebar", locals: { country: @country,destinations: @destinations}
    .col-md-10
      - @destinations.each do |destination|
        .media.margin-all
          .media-left
            %p Destination thumbnail
          .media-body.padding-left
            %h4.media-heading
              = link_to destination.english_name, destination_path(destination)
            = destination.description
            %p.margin-half-top= link_to destination.destination_website, destination.destination_website, target: '_blank'
- else
  %h4.margin-top
    = "We're sorry! There aren't any destinations yet. Please"
    =link_to "add one!", new_destination_path