= require "paperclip-dropbox"

.row.border-bottom.margin-bottom.padding-half-bottom
  .col-md-8
    %h2.no-spacing Destinations
  .col-md-4
    = render partial: "global_partials/sub_header", locals: { country: Country.where(english_name: "Italy").first, region: nil, city: nil, destination: nil}

- if @destinations.any?
  - @destinations.each do |destination|
    .media.margin-all
      .media-left
        = image_tag destination.image.url if destination.image.exists?
      .media-body.padding-left
        %h4.media-heading
          = link_to destination.english_name, destination_path(destination)
        = destination.description
        %p.margin-half-top= link_to destination.destination_website, destination.destination_website, target: '_blank'
- else
  %h4.margin-top
    = "We're sorry! There aren't any destinations yet. Please"
    =link_to "add one!", new_destination_path