.row.border-bottom.margin-bottom
  .col-xs-12.col-sm-6.col-md-8
    %h2.no-spacing
      = @destination.native_language_name 
      - if @destination.english_name != @destination.native_language_name
        .italic.inline.no-spacing= "(#{@destination.english_name})"
  .col-xs-6.col-md-4
    = render partial: "global_partials/sub_header", locals: { country: @country, region: @region}

.row.margin-bottom
  .col-md-4
    = image_tag @destination.image.url(:medium)
  .col-md-8
    %strong Address
    %p
      = "#{@destination.address.street_address}, "
      = link_to @city.native_language_name, country_cities_path(@country)
      = "(#{@city.english_name})" if @city.english_name != @city.native_language_name
      = ", #{@destination.address.zip}"

    %strong Hours
    %p= @destination.hours

    %strong Cost
    %p= @destination.cost

    %strong Website
    %p= link_to "#{@destination.destination_website}", @destination.destination_website


.row.margin-half-top
  .col-md-4
    %h4= "About the #{@destination.english_name}"
  .col-md-8
    %p= @destination.description


.row.margin-double-top
  .col-md-1.border-right
    %h5.italic.center
      = link_to "Home", root_path
  .col-md-1.border-right
    %h5.italic.center
      = link_to "Edit", edit_destination_path(@destination)
  .col-md-1
    %h5.italic.center
      = link_to "Delete"