%h2.no-spacing
  = link_to @region.native_language_name, country_regions_path
  - if @region.english_name != @region.native_language_name
    %h4.italic.inline.no-spacing= "(english: #{@region.english_name})"

- if @cities
  %h2 Cities 
  %ul
  - @cities.each do |city| 
    %li
      = link_to city.native_language_name, country_region_city_path(@country, @region, city) 
      .italic.inline= "(#{city.english_name})" if city.english_name != city.native_language_name