<!DOCTYPE html>
<html>
<head>
  <title>Italia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

    <%= link_to image_path root_url do %>
        <%= image_tag "piemonte-landscape-header.jpeg", style: "width: 100%", id: "top" %>
    <% end %>

    <div id="body">

      <div class="row border-bottom padding-half-bottom">
        <div class="col-md-8">
          <h2 class="no-spacing">
            <%= @country.native_language_name %>
            <% if @country.english_name != @country.native_language_name %>
              <h4 class="italic inline no-spacing">
                <%= "(english: #{@country.english_name})" %>
              </h4>
            <% end %>
          </h2>
        </div>
        <div class="col-md-4">
          <%= render partial: "global_partials/sub_header", locals: { country: @country, region: nil} %>
        </div>
      </div>

      <%= yield %>
    </div>

</body>
</html>
