<!DOCTYPE html>
<html>
<head>
  <title>Italia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <%= image_tag "piemonte-landscape-header.jpeg", style: "width: 100%" %>

    <div id="body">
        <%= yield %>
    </div>

</body>
</html>
