<!DOCTYPE html>
<html>
<head>
  <title>Italia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

    <%= link_to image_path root_url do %>
        <%= image_tag "piemonte-landscape-header.jpeg", style: "width: 100%", id: "top" %>
    <% end %>

    <div id="body">
      <div class="margin-bottom">
        <div class="margin-right inline">
          <h4 class="inline"><%= link_to "Home", root_path %></h4>
        </div>
        <div class="margin-right inline">
          <h4 class="inline"><%= link_to "Regions", country_regions_path(Country.where(english_name: "Italy").first) %></h4>
        </div>
        <div class="margin-right inline">
          <h4 class="inline"><%= link_to "Cities", country_cities_path(Country.where(english_name: "Italy").first) %></h4>
        </div>
        <div class="margin-right inline">
          <h4 class="inline"><%= link_to "Itineraries", itineraries_path %></h4>
        </div>
        <div class="margin-right inline">
          <h4 class="inline"><%= link_to "Destinations", destinations_path %></h4>
        </div>
      </div>

      <%= yield %>
    </div>

</body>
</html>
